<h1>{{albumTitle}}</h1>

<div class="panel-group col-sm-6" ng-repeat="song in songs" ng-controller="songCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title noOverflow">
        	{{song.name}}
      </h4>
    </div>
    
      <div class="panel-body" >
      	<!--img class="artistImg" src="{{album.images[0].url}}" alt="Album Photo" height="100" width="100"-->
      	
      	<audio controls>
 			 <source src="{{song.preview_url}}">
  				
			Your browser does not support the audio element.
		</audio>
		
		<button type="button" class="btn btn-warning" ng-model="singleModel" uib-btn-checkbox ng-click= "checkFavs()">
        <i class="glyphicon glyphicon-star"></i>
    	</button>
    	
      </div>
     
    
  </div>
</div>