
<div class= "container">
	<div class = "row">
		<div class = "col-sm-4">
			<img class="titleImage" src="{{album.images[0].url}}" alt="Album Photo">
		</div>
		<div class= "col-sm-6">
			<div class = "sectionTitle noOverflow">{{album.name}}</div>
			<div class ="noOverflow ">{{album.artists[0].name}} - {{album.release_date.substring(0,4)}}</div>
		</div>
	</div>
</div>

<!--div ncy-breadcrumb class="spacer"></div-->
<div class = "container">
	<h5 class= "bread">
		<a  ui-sref = 'home'><span class = "label label-info">Home</span></a> > 
		<a ui-sref = "search({search: ''})" ><span class = "label label-info">Search</span></a> > 
		<a ui-sref = "artist({artistId: album.artists[0].id})"><span class = "label label-info">{{album.artists[0].name}}</span></a> > 
		<span class = "label label-default">{{album.name}}</span> 
	</h5> 
</div>

<div class="container spacer"><hr/></div>

<div ng-repeat = "songs in cds" ng-controller="cdCtrl"><!--loop for every CD in the album-->
	<div class = container>
		<div class = 'row'>
			<p class= "col-sm-6"><strong>CD {{$index + 1}}</strong></p> 
			<p class="col-sm-6"><button type="button" class="btn btn-primary pushRight" ng-model="orderModel" uib-btn-checkbox ng-click= "orderSongs()">Sort by duration</button></p>
		</div>
	</div>
	<div>
	 	<panel-song ng-repeat="song in songs" class = "col-sm-12" >
    		<panel-title>
      			{{song.name}}
    		</panel-title>
    		<panel-body>
    			<audio controls>
      			<source src="{{song.preview_url}}">
  					Your browser does not support the audio element.
				</audio>	
				<button type="button" class="btn btn-warning pushRight" ng-model="favoriteModel" uib-btn-checkbox ng-click= "checkFavs()">
        			<i class="glyphicon glyphicon-star"></i>
    			</button>
    		</panel-body>
    		<panel-footer>
    		</panel-footer>
  		</panel-song>
  	</div>
</div>

