<div class= "container">
	<div class = "row">
		<div class = "col-sm-4">
			<img class="titleImage" ng-src="{{artist.images[0].url}}" ng-hide ="artist.images[0].url == null" alt="Artist Photo" ><img class="titleImage" ng-src="/images/mrx.jpg" ng-hide ="!(artist.images[0].url == null)" alt="Artist Photo">
		</div>
		<div class= "col-sm-6">
			<div class = "sectionTitle noOverflow">{{artist.name}}</div>
			<div class ="noOverflow ">{{artist.genres[0]}}</div>	
		</div>
	</div>
</div>

<div class = "container">
	<h5>
		<a  ui-sref = 'home'><span class = "label label-info">Home</span></a> > 
		<a ui-sref = "search({search: ''})" ><span class = "label label-info">Search</span></a> > 
		<span class = "label label-default">{{artist.name}}</span>
	</h5> 
</div>
<!--div ncy-breadcrumb class = "spacer"></div-->
<div class="container spacer"><hr/></div>

<div class="panel-group col-sm-6" ng-repeat="album in albums">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title noOverflow">
        	{{album.name}}
      </h4>
    </div>
      <div class="panel-body">
      	<img class="artistImg" src="{{album.images[0].url}}" alt="Album Photo" height="100" width="100"><a ui-sref='album({albumId: album.id, albumName: album.name})'>Ver album</a>
      </div>
  </div>
</div>


    