<div class="container">
<div class="col-md-12">
  <form class="form" role="search">
    <div class="input-group add-on">
      <input class="form-control" placeholder="Search" ng-model ="search" name="srch-term" id="srch-term" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default"  type="submit" ui-sref='home({search: search})' ><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
</div>

<div class="panel-group col-sm-6" ng-repeat="favSong in favSongs">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        	{{favSong.name}}
      </h4>
    </div>
    
      <div class="panel-body">
      	<!--img class="artistImg" src="{{album.images[0].url}}" alt="Album Photo" height="100" width="100"-->
      </div>
     
    
  </div>
</div>
</div>