<div class="container">
	<div class="container">
		<p class="lead">welcome to</p>
		<h1>Spotisearch</h1>
		<h3><small>Search your favorite songs over spotify. Just enter an artist's name in the following search box and enjoy!</small></h3>
	</div>
	<div class="spacer container">
  		<form class="form" role="search"> <!-- Search Bar -->
    		<div class="input-group add-on">
      			<input class="form-control" placeholder="Search" ng-model ="search" name="srch-term" id="srch-term" type="text">
      			<div class="input-group-btn">
        			<button class="btn btn-default"  type="submit" ui-sref='search({search: search})' ><i class="glyphicon glyphicon-search"></i></button>
      			</div>
    		</div>
  		</form>
	</div>
	<div class="container spacer"><hr/></div> 
	<h3 ng-hide="favSongs.length == 0">Favorite songs</h3>
	<div class="container spacer">
		<div class="panel-group col-sm-6" ng-repeat="favSong in favSongs" ng-controller = "favSongCtrl"> <!-- loop for favorite songs-->
  			<div class="panel panel-default">
   				<div class="panel-heading">
   					<h4 class="panel-title noOverflow">
        				{{favSong.name}}
      				</h4>
    			</div>
      			<div class="panel-body">
      				<audio controls>
 			 			<source src="{{favSong.preview_url}}">
  							Your browser does not support the audio element.
					</audio>
      				<button type="button" class="btn btn-danger" ng-model="favSongModel" uib-btn-checkbox ng-click= "deleteFav()">
        				<i class="glyphicon glyphicon-remove"></i>
    				</button>
      			</div>   
  			</div>
		</div>
	</div>
</div>