<div class="container">
	<div class="container">
		<p class="lead">welcome to</p>
		<h1><img ng-src="/images/spotilogo.png" alt="Artist Photo"></h1>
		<h3><small>Search your favorite songs over spotify. Just enter an artist's name in the following search box and enjoy!</small></h3>
	</div>
	<div class="spacer container">
  		<form class="form" role="search"> <!-- Search Bar -->
    		<div class="input-group add-on">
      			<input class="form-control" placeholder="Search" ng-model ="search" name="srch-term" id="srch-term" type="text">
      			<div class="input-group-btn">
        			<button class="btn btn-default"  type="submit" ui-sref='search({search: search})' ><i class="glyphicon glyphicon-search"></i></button>
      			</div>
    		</div>
  		</form>
	</div>
	<div class="container spacer"><hr/></div> 
	<h3 ng-hide="favSongs.length == 0">Favorite songs</h3>

<div class= "container spacer">
	<panel-fav-song ng-repeat="favSong in favSongs" class = "col-sm-6"  >
    <panel-title>
      {{favSong.name}}
    </panel-title>
    <panel-body>
      <audio controls>
       <source src="{{favSong.preview_url}}">
       Your browser does not support the audio element.
      </audio>
     <button type="button" class="btn btn-danger" ng-model="favSongModel" uib-btn-checkbox ng-click= "deleteFav()">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </panel-body>
    <panel-footer>
    </panel-footer>
  </panel-fav-song>
</div>


</div>

