<div class= "container">
	<h1>Artists</h1>
	<h3><small>You are currently searching for: "{{artist.searchText}}"</small></h3>

	<div class="form-group row">
  		<input type="text" ng-model= "artist.searchText" ng-change="myFunc()" class="form-control" id="art">
	</div>
</div>

<!--div ncy-breadcrumb></div-->
<div class = "container">
  <h5>
    <a  ui-sref = 'home'><span class = "label label-info">Home</span></a> > 
    <span class = "label label-default">Search</span>
  </h5> 
</div>

<div class="container spacer"><hr/></div>

<div class= "container spacer">
  <panel ng-repeat="art in arts" class = "col-sm-6">
    <panel-title>
      {{art.name}}
    </panel-title>
    <panel-body>
      <img class="artistImg" ng-src="{{art.images[0].url}}" ng-hide ="art.images[0].url == null" alt="Artist Photo" height="100" width="100">
      <img class="artistImg" ng-src="/images/mrx.jpg" ng-hide ="!(art.images[0].url == null)" alt="Artist Photo" height="100" width="100">
      <a ui-sref='artist({artistId: art.id})'><button type= "button" class = "btn btn-info btn-sm spaceLeft">go to artist</button></a>
    </panel-body>
    <panel-footer>
     Popularity: {{art.popularity}}
    </panel-footer>
  </panel>
</div>
