<div class= "container">
	<div class = "row">
		<div class = "col-sm-4">
			<img class="titleImage" ng-src="{{artist.images[0].url}}" ng-hide ="artist.images[0].url == null" alt="Artist Photo" ><img class="titleImage" ng-src="/images/mrx.jpg" ng-hide ="!(artist.images[0].url == null)" alt="Artist Photo">
		</div>
		<div class= "col-sm-6">
			<div class = "sectionTitle noOverflow">{{artist.name}}</div>
			<div class ="noOverflow ">{{artist.genres[0]}}</div>	
		</div>
	</div>
</div>

<div class = "container">
	<h5 class = "bread">
		<a  ui-sref = 'home'><span class = "label label-info">Home</span></a> > 
		<a ui-sref = "search({search: ''})" ><span class = "label label-info">Search</span></a> > 
		<span class = "label label-default">{{artist.name}}</span>
	</h5> 
</div>
<!--div ncy-breadcrumb class = "spacer"></div-->
<div class="container spacer"><hr/></div>

<div class= "container spacer">
	<panel ng-repeat="album in albums" class = "col-sm-6">
  		<panel-title>
  			{{album.name}}
  		</panel-title>
  		<panel-body>
    		<img class="artistImg" src="{{album.images[0].url}}" alt="Album Photo" height="100" width="100">
    		<a ui-sref='album({albumId: album.id, albumName: album.name})'><button type= "button" class = "btn btn-info btn-sm spaceLeft">Ver album</button></a>
  		</panel-body>
		<panel-footer>
 		</panel-footer>
	</panel>
</div>


