  

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.container {
  margin: 0 20px;
  width: 90%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }  

  header{
  	width: 100vw;
  	margin: 0;
  	padding: 0;
  	position: relative;
  	right: 20px;
  	background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFFFFF), to(#D0694D));
  	height:20vh;
  }

  .logo{
  	height: inherit;
  }
  .description{
  }

  .imgContainer{
  	position: relative;
  	width: 90%;
  	height: 15vw;
  }

  img{
  	width: 100%;
  }

  .imgDescription{
  	width: 100%;
  	height: 50px;
  	position: absolute;
  	top: 0;
  	/*display: none;*/
  	-webkit-transition: opacity 1s ease-in-out;
  	opacity: 0;
  	background-color: rgba(60, 60, 60, 0.6);
  	color: white;
  	text-align: center;
  	padding-top: 15px;
  }

  img:hover +.imgDescription, .imgDescription:hover{
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
 
  }
  
  /*@media all and (min-width: 1001px) {
  #sidebar ul li a:after {
    content: " (" attr(data-email) ")";
    font-size: 11px;
    font-style: italic;
    color: #666;
  }
}
*/
@media all and (max-width: 700px) {
  

 .column.third{
 	width: 50%;
 }

 .imgContainer{
  	height: 22vw;
  }
 #description{
 	width: 100%;
 }


#extraColumn:before,
#extraColumn:after {
  content: " ";
  display: table;
}

#extraColumn:after {
  clear: both;
}

#extraColumn {
  *zoom: 1;
}

 #extraColumn{
 	width: 100%;
 }
 #extraColumn .imgContainer{
 	display: inline-block;
	width: 42%;
	
 }
 #extraImg{
 	float: right;
 	margin-right: 4.4%;
 }

}
/*
@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  #sidebar ul li a {
    padding-left: 21px;
    background: url(../images/email.png) left center no-repeat;
  }
}*/
